[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[user]
	name = codekipple
	email = codekipple@gmail.com
[push]
	default = simple

[credential]
helper = /opt/boxen/bin/boxen-git-credential

[core]
	excludesfile = /opt/boxen/config/git/gitignore

[hub]
protocol = https
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	di = diff
	ad = add

